@font-face {
    font-family: "mine-sweeper";
    src: url("./assets/fonts/mine-sweeper.otf");
}

@font-face {
    font-family: "DS-DIGI";
    src: url("./assets/fonts/DS-DIGI.ttf");
}
@font-face {
    font-family: "DS-DIGIB";
    src: url("./assets/fonts/DS-DIGIB.ttf");
}