body {
    padding-top: 65px;
    /* gap: 30px; */
}

.game_options-container {
    height: 50px;
    gap: 20px;
}

.game_option {
    height: 58px;
    padding: 5px 0;
    gap: 2px;
}

.option_difficulty {
    width: 86px;
    font-size: 12px;
}

.option_difficulty:is(.clicked, .selected) {
    padding-top: 1px;
    padding-left: 2px;
}

.game_option_preferences_reset_score {
    height: 50px;
    padding: 4px;
    gap: 5px;
}

.option_special {
    width: 90px;
    font-size: 12px;
}

.option_special.clicked {
    padding-top: 1px;
    padding-left: 2px;
}

.minesweeper-container {
    height: 400px;
}

.minesweeper-container.scroll {
    padding: 12px;
    justify-content: start;

}

.options-container {
    width: 320px;
    height: 400px;
    border-width: 4px;
}

.option_title {
    height: 50px;
    padding-left: 6%;
    font-size: 18px;
}

.option_custom_grid_selection-container {
    label {
        height: 40px;
        font-size: 16px;
    }
}

.option_colored_themes_selection-container {
    height: 200px;
    padding: 2.5%;
    grid-template-rows: repeat(3, 40px);
}

.color_theme_cell {
    --color_theme_cell_size: 26px;
}

.color_theme_cell.color_theme_selected {
    box-shadow: 0 0 min(0.125vw, 0.25vh) min(0.5vw, 1vh) #383838;
}

.grid-container {
    --cellsize: 20px;
    --fillsize: 8px;
    padding: 4px;
}

.top-container {
    height: 37px;
    padding: 3px;
}

.game_info-container {
    width: 52px;
    height: 29px;
}

.game_info {
    height: 26px;
    font-size: 33px;
}

#game_start {
    width: auto;
    height: 28px;
    aspect-ratio: 1;
    padding: 3px;
}

.cell {
    font-size: 13px;
}

.cell.flagged.misplaced::after {
    font-size: 12px;
}